#app-header{
    background-color: #154c79;
}

#web-icon-container #web-icon{
    width: 160px;
    
}

.nav-btn{

}

#nav-menu{
    #menu-buttons{
        background-color: white; 
        margin: 0 auto; 
        height: 100%;
        /* border-bottom: solid black ; */
        border-top: solid black 2px;

        a{
            padding-left: 15px;
            padding-right:15px;
            color: black;
            font-size: 25px;
            font-family: "Lucida Console", Courier, monospace;
            
        }
    }

    
}

#widgets{
    background-color: gray;
    height: 60vh;
}

.widget{
    padding:30px;
    height: 100%;
    border: solid black 1px; 
    border-radius: 8px;
}